

@import '../../styles/variables';
@import '../../styles/mixins';

.heading {
  @include heading;
}
.section {
  @include card;
}
.editFields {
@include editFields;
}
.editItem {
  @include editItem;
}