.overlay {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.35);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 32px rgba(0,0,0,0.18);
	padding: 2rem;
	width: 100%;
	max-width: 900px;
    height: auto;
	max-height: 90vh;
	overflow-y: scroll;
    display: flex;
    flex-direction: column;
	align-items: center;
}
@media (max-width: 600px) {
	.modal{
		max-width: 96vw;
	}	
}