.interceptWrapper {
  background: rgba(255,255,255,0.7);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
